In [1]:
print("helo")
import pandas as pd
import numpy as np

helo

In [2]:
dict1={
    'name':['nikhil',"harshit","gaurav","ravi"],
    "marks":[53,43,54,93],
    "city": ["ramnagar","palampur","gopalpur","laknour pind"]
}

In [3]:
# df = pd.DataFrame(dict1)

In [4]:
# df

In [5]:
# df.to_csv('friends.csv')
# if i dont want index
# df.to_csv('friend.csv',index=False)

In [6]:
# df.head(2)

In [7]:
# df.tail(2)

In [8]:
# df.describe()

In [9]:
# import pandas as pd 

# new = pd.read_csv('annual.csv')
# new

In [10]:
import pandas as pd 

new = pd.read_csv('annual.csv')

In [11]:

ser = pd.Series(np.random.rand(67))
ser

0     0.590006
1     0.925980
2     0.371175
3     0.433842
4     0.526517
        ...
62    0.004581
63    0.312325
64    0.653117
65    0.477154
66    0.703299
Length: 67, dtype: float64

In [12]:
helo = pd.DataFrame(np.random.rand(334,5),index=np.arange(334))
helo

            0         1         2         3         4
0    0.690478  0.721798  0.600029  0.085582  0.060487
1    0.538380  0.484268  0.771556  0.016818  0.472428
2    0.976685  0.866540  0.753054  0.081975  0.977172
3    0.417869  0.554000  0.275822  0.408992  0.644647
4    0.179123  0.794789  0.334386  0.099571  0.771037
..        ...       ...       ...       ...       ...
329  0.234459  0.857185  0.763200  0.520181  0.704128
330  0.701651  0.738167  0.763041  0.453372  0.781706
331  0.570216  0.936121  0.728258  0.245991  0.996979
332  0.739475  0.534054  0.221059  0.177472  0.928638
333  0.470500  0.399265  0.138451  0.923659  0.530280

[334 rows x 5 columns]

In [13]:
''' if you want to make really change in your data
use name of data like this 
helo=helo.drop(1,axis=0)
and if you only want to see result of your fxn 
helo.drop(1,axis=1)'''

' if you want to make really change in your data\nuse name of data like this \nhelo=helo.drop(1,axis=0)\nand if you only want to see result of your fxn \nhelo.drop(1,axis=1)'

In [14]:
helo = pd.DataFrame(np.random.rand(334,5),index=np.arange(334))
helo

            0         1         2         3         4
0    0.275537  0.308457  0.666907  0.929788  0.680874
1    0.927889  0.332644  0.352867  0.020919  0.059472
2    0.916827  0.027557  0.927672  0.592327  0.473700
3    0.696083  0.383623  0.895809  0.980199  0.375134
4    0.009767  0.309679  0.411308  0.455225  0.819540
..        ...       ...       ...       ...       ...
329  0.307607  0.014883  0.103126  0.481902  0.875868
330  0.343692  0.419847  0.752053  0.534653  0.770971
331  0.714720  0.646724  0.321909  0.438308  0.794653
332  0.626041  0.322208  0.998414  0.014071  0.575942
333  0.923242  0.473877  0.725313  0.347537  0.929342

[334 rows x 5 columns]

In [15]:
type(helo)
helo.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [16]:
helo[1][1]='nikhil'
helo.dtypes
helo

C:\Users\user\AppData\Local\Temp\ipykernel_14872\185899151.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  helo[1][1]='nikhil'
C:\Users\user\AppData\Local\Temp\ipykernel_14872\185899151.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nikhil' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  helo[1][1]='nikhil'

            0         1         2         3         4
0    0.275537  0.308457  0.666907  0.929788  0.680874
1    0.927889    nikhil  0.352867  0.020919  0.059472
2    0.916827  0.027557  0.927672  0.592327  0.473700
3    0.696083  0.383623  0.895809  0.980199  0.375134
4    0.009767  0.309679  0.411308  0.455225  0.819540
..        ...       ...       ...       ...       ...
329  0.307607  0.014883  0.103126  0.481902  0.875868
330  0.343692  0.419847  0.752053  0.534653  0.770971
331  0.714720  0.646724  0.321909  0.438308  0.794653
332  0.626041  0.322208  0.998414  0.014071  0.575942
333  0.923242  0.473877  0.725313  0.347537  0.929342

[334 rows x 5 columns]

In [17]:
helo.to_numpy()

array([[0.2755373000129192, 0.3084568349037009, 0.6669071065043705,
        0.9297883161459867, 0.6808743408091457],
       [0.9278888030424309, 'nikhil', 0.3528674829670764,
        0.020918643437685014, 0.059471812709409266],
       [0.9168270862902107, 0.027557138792867475, 0.9276719086480382,
        0.5923273557300388, 0.47369986179462764],
       ...,
       [0.7147204305265593, 0.6467240380699147, 0.3219088819459103,
        0.43830771010761427, 0.7946530856816281],
       [0.6260407137305373, 0.3222081608545797, 0.9984136846507358,
        0.014071010122346905, 0.5759420828205388],
       [0.9232419653470336, 0.4738766383729692, 0.7253125285460365,
        0.34753655745980694, 0.929342310597566]], dtype=object)

In [18]:
helo[1][1]=0.35

In [19]:
helo.T#t for transpose

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.275537,0.927889,0.916827,0.696083,0.009767,0.985951,0.191209,0.424106,0.98224,0.579226,...,0.562134,0.239473,0.757448,0.278514,0.203235,0.307607,0.343692,0.71472,0.626041,0.923242
1,0.308457,0.35,0.027557,0.383623,0.309679,0.249554,0.689157,0.816678,0.060245,0.774334,...,0.957393,0.384611,0.957183,0.356899,0.988585,0.014883,0.419847,0.646724,0.322208,0.473877
2,0.666907,0.352867,0.927672,0.895809,0.411308,0.241715,0.151718,0.365308,0.454854,0.135128,...,0.592801,0.487454,0.914123,0.616146,0.020197,0.103126,0.752053,0.321909,0.998414,0.725313
3,0.929788,0.020919,0.592327,0.980199,0.455225,0.937692,0.190433,0.167107,0.443978,0.527522,...,0.241252,0.588457,0.400616,0.602052,0.951926,0.481902,0.534653,0.438308,0.014071,0.347537
4,0.680874,0.059472,0.4737,0.375134,0.81954,0.411947,0.897065,0.155037,0.896601,0.561708,...,0.374767,0.06206,0.148363,0.918584,0.204629,0.875868,0.770971,0.794653,0.575942,0.929342

In [20]:
helo.head()

          0         1         2         3         4
0  0.275537  0.308457  0.666907  0.929788  0.680874
1  0.927889      0.35  0.352867  0.020919  0.059472
2  0.916827  0.027557  0.927672  0.592327  0.473700
3  0.696083  0.383623  0.895809  0.980199  0.375134
4  0.009767  0.309679  0.411308  0.455225  0.819540

In [21]:
helo.sort_index(axis=1,ascending=False)

            4         3         2         1         0
0    0.680874  0.929788  0.666907  0.308457  0.275537
1    0.059472  0.020919  0.352867      0.35  0.927889
2    0.473700  0.592327  0.927672  0.027557  0.916827
3    0.375134  0.980199  0.895809  0.383623  0.696083
4    0.819540  0.455225  0.411308  0.309679  0.009767
..        ...       ...       ...       ...       ...
329  0.875868  0.481902  0.103126  0.014883  0.307607
330  0.770971  0.534653  0.752053  0.419847  0.343692
331  0.794653  0.438308  0.321909  0.646724  0.714720
332  0.575942  0.014071  0.998414  0.322208  0.626041
333  0.929342  0.347537  0.725313  0.473877  0.923242

[334 rows x 5 columns]

In [22]:
helo.sort_index(axis=0,ascending=False)

            0         1         2         3         4
333  0.923242  0.473877  0.725313  0.347537  0.929342
332  0.626041  0.322208  0.998414  0.014071  0.575942
331  0.714720  0.646724  0.321909  0.438308  0.794653
330  0.343692  0.419847  0.752053  0.534653  0.770971
329  0.307607  0.014883  0.103126  0.481902  0.875868
..        ...       ...       ...       ...       ...
4    0.009767  0.309679  0.411308  0.455225  0.819540
3    0.696083  0.383623  0.895809  0.980199  0.375134
2    0.916827  0.027557  0.927672  0.592327  0.473700
1    0.927889      0.35  0.352867  0.020919  0.059472
0    0.275537  0.308457  0.666907  0.929788  0.680874

[334 rows x 5 columns]

In [23]:
helo[1]

0      0.308457
1          0.35
2      0.027557
3      0.383623
4      0.309679
         ...
329    0.014883
330    0.419847
331    0.646724
332    0.322208
333    0.473877
Name: 1, Length: 334, dtype: object

In [24]:
type(helo[1])

pandas.core.series.Series

In [25]:
# helo2=helo  #this is view if you change something here also changed in helo
# helo2[1][1]=0.78
# helo

In [26]:
#methods of copying 
# if you change something in helo2 it will not change helo
# helo2=helo[:]
# helo2=helo.copy()
# helo2[1][1]=0.45
# helo
# helo2

In [27]:
# helo2

In [28]:
#use loc for changing 
helo.loc[1][1]=0.12
helo.loc[5,5]=0.676
helo

C:\Users\user\AppData\Local\Temp\ipykernel_14872\118242524.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  helo.loc[1][1]=0.12

            0         1         2         3         4   5
0    0.275537  0.308457  0.666907  0.929788  0.680874 NaN
1    0.927889      0.35  0.352867  0.020919  0.059472 NaN
2    0.916827  0.027557  0.927672  0.592327  0.473700 NaN
3    0.696083  0.383623  0.895809  0.980199  0.375134 NaN
4    0.009767  0.309679  0.411308  0.455225  0.819540 NaN
..        ...       ...       ...       ...       ...  ..
329  0.307607  0.014883  0.103126  0.481902  0.875868 NaN
330  0.343692  0.419847  0.752053  0.534653  0.770971 NaN
331  0.714720  0.646724  0.321909  0.438308  0.794653 NaN
332  0.626041  0.322208  0.998414  0.014071  0.575942 NaN
333  0.923242  0.473877  0.725313  0.347537  0.929342 NaN

[334 rows x 6 columns]

In [29]:
# you can change colums
#  helo.columns=list('abcde') 
# helo

In [30]:
# axis 0 means = row 
# axis 1 means = colomns
# if you dont give axis it will remove from row


# to drop series 
# use drop fxn
# like this 
# helo.drop(5)
helo=helo.drop(5,axis=1)

#like this

In [31]:
helo

            0         1         2         3         4
0    0.275537  0.308457  0.666907  0.929788  0.680874
1    0.927889      0.35  0.352867  0.020919  0.059472
2    0.916827  0.027557  0.927672  0.592327  0.473700
3    0.696083  0.383623  0.895809  0.980199  0.375134
4    0.009767  0.309679  0.411308  0.455225  0.819540
..        ...       ...       ...       ...       ...
329  0.307607  0.014883  0.103126  0.481902  0.875868
330  0.343692  0.419847  0.752053  0.534653  0.770971
331  0.714720  0.646724  0.321909  0.438308  0.794653
332  0.626041  0.322208  0.998414  0.014071  0.575942
333  0.923242  0.473877  0.725313  0.347537  0.929342

[334 rows x 5 columns]

In [32]:
helo.loc[[1],:] # for accessing rows , you can give multiple rows and columns

          0     1         2         3         4
1  0.927889  0.35  0.352867  0.020919  0.059472

In [33]:
helo.loc[:,[1]]# for accessing coulms

            1
0    0.308457
1        0.35
2    0.027557
3    0.383623
4    0.309679
..        ...
329  0.014883
330  0.419847
331  0.646724
332  0.322208
333  0.473877

[334 rows x 1 columns]

In [34]:
#complex query
helo.loc[(helo[0]<0.3)]
#this tels where is value less tham 0.3

            0         1         2         3         4
0    0.275537  0.308457  0.666907  0.929788  0.680874
4    0.009767  0.309679  0.411308  0.455225  0.819540
6    0.191209  0.689157  0.151718  0.190433  0.897065
11   0.212175  0.682043  0.381708  0.116190  0.268642
14   0.108860  0.189474  0.365040  0.116162  0.513693
..        ...       ...       ...       ...       ...
320  0.125427  0.798379  0.558788  0.551232  0.305604
323  0.110046  0.988534  0.485523  0.064946  0.014309
325  0.239473  0.384611  0.487454  0.588457  0.062060
327  0.278514  0.356899  0.616146  0.602052  0.918584
328  0.203235  0.988585  0.020197  0.951926  0.204629

[98 rows x 5 columns]

In [35]:
helo.loc[(helo[0]<0.3) &(helo[1]<0.1)]

            0         1         2         3         4
34   0.082950  0.049775  0.010776  0.395376  0.804814
38   0.220650  0.067928  0.687098  0.365033  0.938541
50   0.039906  0.060152  0.319474  0.977821  0.587043
103  0.002955  0.014382  0.966494  0.063645  0.984571
176  0.048206  0.066767  0.119051  0.604129  0.124261
181  0.103630   0.03841  0.839318  0.021606  0.449666
187  0.020383  0.011261  0.264999  0.775570  0.180092
208  0.064421  0.021362  0.452592  0.799986  0.444954
218  0.200574  0.016463  0.905447  0.739746  0.700525

In [36]:
helo.iloc[0,4]
# if you want to print from index number use iloc this otherwise use loc

np.float64(0.6808743408091457)

In [37]:
helo.loc[[1],[4]]
# in this way you can print value by name of columns and row

          4
1  0.059472

In [38]:
helo.iloc[[0,4],[0,3]]

          0         3
0  0.275537  0.929788
4  0.009767  0.455225

In [39]:
ser=[1,2,3,4,45,45,17,12,34]
h=[r for r in ser if r>10]
print(h)

[45, 45, 17, 12, 34]

In [40]:
h=[d for d in range(1,100) if d>10]
print(h)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [41]:
for i in range(1,34):
    if i>10 and i<25:
        print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [42]:
ser=pd.Series([51,39,54,76,57,67,56,32,45,87,45,3,45,56,67,76])
type(ser)

pandas.core.series.Series

In [43]:
# h=[r for r in ser if r>40]
# h

In [44]:
# type(h)

In [45]:
# h[::-1]

In [46]:
ser[ser>40]

0     51
2     54
3     76
4     57
5     67
6     56
8     45
9     87
10    45
12    45
13    56
14    67
15    76
dtype: int64

In [47]:

n=[51, 54, 76, 57, 67, 56, 45, 87, 45, 45, 56, 67, 76]

In [48]:
m=pd.Series(n)

In [49]:
m

0     51
1     54
2     76
3     57
4     67
5     56
6     45
7     87
8     45
9     45
10    56
11    67
12    76
dtype: int64

In [50]:
m.max()

np.int64(87)

In [51]:
m.loc[m<50]=60
m

0     51
1     54
2     76
3     57
4     67
5     56
6     60
7     87
8     60
9     60
10    56
11    67
12    76
dtype: int64

In [52]:
a=pd.Series([1,3,4,5,6,3,5,7])
b=pd.Series([4,5,7,8,2,4,3,4])

In [53]:
a*b

0     4
1    15
2    28
3    40
4    12
5    12
6    15
7    28
dtype: int64

In [54]:
d=pd.Series({'apple':50,'banana':80,'cherry':200})
d

apple      50
banana     80
cherry    200
dtype: int64

In [55]:
d.keys()

Index(['apple', 'banana', 'cherry'], dtype='object')

In [56]:
(d.values)

array([ 50,  80, 200])

In [57]:
'banana' in d.values

False

In [58]:
'banana'in d.keys()

True

In [59]:
ser1=pd.Series([12,34,44,None],index=[3,2,1,4])

In [60]:
ser1.fillna('not found')

3         12.0
2         34.0
1         44.0
4    not found
dtype: object

In [61]:
ser2=pd.Series([range(5,61,5)])
ser2
type(ser2)

pandas.core.series.Series

In [62]:
def check(n):
    if n%2==0:
     return('Even')
    else:
      return ('odd')

In [63]:
res=ser1.apply(check)
res

3    Even
2    Even
1    Even
4     odd
dtype: object

In [64]:
r=pd.Series([12,34,45,66,35,87,11,23,32,43,65,89])

In [65]:
r[(r>40)&(r<80)]

2     45
3     66
9     43
10    65
dtype: int64

In [66]:
r[r.between(40,80,inclusive='neither')]

2     45
3     66
9     43
10    65
dtype: int64

In [67]:
even=r[r%2==0]
print(even)

0    12
1    34
3    66
8    32
dtype: int64

In [68]:
r.idxmax()

11

In [69]:
r.loc[r>30]=0
r

0     12
1      0
2      0
3      0
4      0
5      0
6     11
7     23
8      0
9      0
10     0
11     0
dtype: int64

In [70]:
r.mean().round()

np.float64(4.0)

In [71]:
t=pd.Series([12,34,4,5,45,67,90,80,45,90,32,30,10,56,30])

In [72]:
t[(t%2==0)&(t%5==0)]

6     90
7     80
9     90
11    30
12    10
14    30
dtype: int64

In [73]:
# t.loc[t>50]='high'
# t

In [74]:
t[t%2==0].sum()

np.int64(468)

In [75]:
t**2

0      144
1     1156
2       16
3       25
4     2025
5     4489
6     8100
7     6400
8     2025
9     8100
10    1024
11     900
12     100
13    3136
14     900
dtype: int64

In [76]:
t[t>30].index

Index([1, 4, 5, 6, 7, 8, 9, 10, 13], dtype='int64')